/* Start Pre-Design */
:root {
  --dark-color: #19283f;
  --green-primary: #33d1cc;
  --green-secondary: #8c949f;
  --yellow-primary: #ff3150;
  --yellow-secondary: #ffc400;
  --secondary-color: #7f7f7f;
  --section-color: #eff7fa;
  --main-trans: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.custom-btn,
.btn.custom-btn:hover {
  background-color: var(--yellow-primary);
  color: var(--yellow-secondary);
}

.main-title {
  position: relative;
}

.main-title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--green-primary);
}

.main-text .desc {
  color: var(--secondary-color);
  font-size: 1.1rem;
  width: fit-content;
  margin: 0 auto;
}

@media (min-width: 1550px) {
  .shape {
    transform: translateX(-50%) scale(1.2) !important;
  }

  .main-text h2 {
    font-size: 3rem !important;
  }

  .main-text .desc {
    font-size: 1.25rem;
  }
}

@media (min-width: 2000px) {
  .shape {
    transform: translateX(-50%) scale(1.3) !important;
  }

  .main-text h2 {
    font-size: 4rem !important;
  }

  .main-text .desc {
    font-size: 1.75rem;
  }
}

@media (min-width: 2400px) {
  .shape {
    transform: translateX(-50%) scale(1.5) !important;
  }

  .main-text h2 {
    font-size: 5rem !important;
  }

  .main-text .desc {
    font-size: 2rem;
  }
}
/* End Pre-Design */

/* Start Header */
.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-toggler {
  color: white;
  border: 0;
  outline: 0;
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  color: var(--green-primary);
}

.navbar .navbar-toggler[aria-expanded="true"] ~ .custom-btn {
  margin-left: 0 !important;
}

.navbar .search {
  color: var(--green-primary);
  cursor: pointer;
  border-left: 2px solid var(--green-primary);
  border-radius: 1px;
}

.navbar .search-input {
  position: absolute;
  bottom: -35px;
  right: 120px;
  background-color: var(--green-primary);
  outline: 0;
  border: 0;
  border-radius: 8px;
  caret-color: white;
  color: white;
  transition: var(--main-trans);
}

.navbar .search-input::placeholder {
  color: white;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--green-primary);
}

@media (min-width: 1550px) {
  .container-fluid-xxl {
    max-width: 100%;
    padding: 0 2em;
  }

  .navbar-nav .nav-link,
  .navbar .search,
  .navbar .login {
    font-size: 1.25rem;
  }

  .navbar .search-input {
    right: 30px;
  }
}

@media (min-width: 2000px) {
  .navbar-nav .nav-link,
  .navbar .search,
  .navbar .login {
    font-size: 1.5rem;
  }
}

@media (min-width: 2400px) {
  .navbar-nav .nav-link,
  .navbar .search,
  .navbar .login {
    font-size: 1.75rem;
  }
}
/* End Header */

/* Start Landing */
.landing {
  background-color: var(--dark-color);
  height: calc(100vh - 72px);
}

.landing .introduction .desc {
  color: var(--green-secondary);
}

@media (min-width: 1550px) {
  .landing .intro {
    font-size: 3rem;
  }

  .landing .desc {
    font-size: 1.25rem;
  }

  .landing .start {
    font-size: 1.5rem !important;
  }
}

@media (min-width: 2000px) {
  .landing .intro {
    font-size: 4rem;
  }

  .landing .desc {
    font-size: 1.75rem;
  }

  .landing .start {
    font-size: 2rem !important;
  }
}

@media (min-width: 2400px) {
  .landing .intro {
    font-size: 5rem;
  }

  .landing .desc {
    font-size: 2rem;
  }

  .landing .start {
    font-size: 2.5rem !important;
  }
}
/* End Landing */

/* Start Services */
.services .services-cont {
  counter-reset: services;
}

.services .services-cont .service {
  position: relative;
  counter-increment: services;
}

.services .services-cont .service::before {
  content: counter(services);
  color: var(--section-color);
  display: inline-block;
  font-size: 13rem;
  line-height: 1;
  font-family: cursive;
}

.services .services-cont .service svg {
  margin-top: -1.5em;
  font-size: 3.5rem;
  color: var(--green-primary);
}

.services .services-cont .service h6 {
  color: var(--yellow-secondary);
}

.services .services-cont .service p {
  color: var(--green-secondary);
}

@media (max-width: 767.8px) {
  .services .services-cont .service:not(:first-child):before {
    margin-top: 0.1em;
  }
}

@media (min-width: 1550px) {
  .services .services-cont .service h6 {
    font-size: 2.25rem !important;
  }

  .services .services-cont .service p {
    font-size: 1.25rem;
  }
}

@media (min-width: 2000px) {
  .landing .start {
    font-size: 2rem !important;
  }

  .services .services-cont .service::before {
    font-size: 15rem;
  }

  .services .services-cont .service svg {
    font-size: 4.5rem;
    margin-top: -1.5em;
  }

  .services .services-cont .service h6 {
    font-size: 3rem !important;
  }

  .services .services-cont .service p {
    font-size: 1.5rem;
  }
}

@media (min-width: 2400px) {
  .landing .start {
    font-size: 2.5rem !important;
  }

  .services .services-cont .service::before {
    font-size: 17rem;
  }

  .services .services-cont .service svg {
    font-size: 5rem;
    margin-top: -1.5em;
  }

  .services .services-cont .service h6 {
    font-size: 3.25rem !important;
  }

  .services .services-cont .service p {
    font-size: 1.75rem;
  }
}
/* End Services */

/* Start Portfolio */
.portfolio {
  background-color: var(--section-color);
}
/* End Portfolio */
